<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Cards</h1>
    <p class="lead">A list of all cards entered.</p>
    <button ng-click="reloadCards()" class="btn btn-warning">*DEBUG* Reload from MongoDB</button>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Library:</h1>
      <button ng-click="libraryParams.sorting({name: 'asc'})" class="btn btn-default pull-right">Clear sorting</button>
      <button ng-click="libraryParams.filter({})" class="btn btn-default pull-right">Clear filter</button>
      <p><strong>Sorting:</strong> {{libraryParams.sorting()|json}}</p>
      <p><strong>Filter:</strong> {{libraryParams.filter()|json}}</p>

      <table ng-table="libraryParams" show-filter="true" class="table">
        <tbody>
          <tr ng-repeat="card in $data">
            <td data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'">
              {{card.name}}
            </td>
            <td data-title="'Type'" filter="{ 'type': 'text' }" sortable="'type'">
              {{card.type}}
            </td>
            <td data-title="'Color'" sortable="'type'">
              <span ng-repeat="color in card.color" class="fa-stack">
                <i class="fa fa-circle fa-stack-1x" ng-style="set_color(color)"></i>
                <i class="fa fa-circle-thin fa-stack-1x"></i>
              </span>
            </td>
            <td data-title="'Deck'" filter="{ 'deck': 'text' }" sortable="'deck'">
              {{card.deck}}
            </td>
            <td data-title="'Description'" filter="{ 'description': 'text' }" sortable="'description'">
              {{card.description}}
            </td>
            <td data-title="'Actions'" width="60">
              <button class="btn btn-danger btn-xs" ng-click="deleteCard(card)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>

<footer ng-include="'components/footer/footer.html'"></footer>
