<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Cards</h1>
    <p class="lead">A list of all cards entered.</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Cards:</h1>

      <button ng-click="reloadCards()" class="btn btn-default">Reload</button>
      <button ng-click="tableParams.sorting({name: 'asc'})" class="btn btn-default pull-right">Clear sorting</button>
      <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}</p>

        <table ng-table="tableParams" show-filter="true" class="table">
          <tbody>
            <tr ng-repeat="card in $data">
              <td data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'">
                <input ng-if="card.$edit" class="form-control" type="text" ng-model="card.name">
                <span ng-if="!card.$edit">{{card.name}}</span>
              </td>
              <td data-title="'Type'" filter="{ 'type': 'text' }" sortable="'type'">
                <input ng-if="card.$edit" class="form-control" type="text" ng-model="card.type">
                <span ng-if="!card.$edit">{{card.type}}</span>
              </td>
              <td data-title="'Description'" filter="{ 'description': 'text' }" sortable="'description'">
                <input ng-if="card.$edit" class="form-control" type="text" ng-model="card.description">
                <span ng-if="!card.$edit">{{card.description}}</span>
              </td>
              <td data-title="'Actions'" width="200">
                <button ng-if="!card.$edit" class="btn btn-default btn-xs" ng-click="card.$edit = true">Edit</button>
                <button ng-if="card.$edit" class="btn btn-primary btn-xs" ng-click="card.$edit = false; updateCard(card)">Save</button>
                <button ng-if="card.$edit" class="btn btn-danger btn-xs" ng-click="card.$edit = false; deleteCard(card)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<footer ng-include="'components/footer/footer.html'"></footer>
