td > .btn-xs {
  margin: 3px 1px;
}

.ng-table-rowselected tr td {
  cursor: pointer;
}

.hovertr:hover {
  background-color: #F4F3F3;
}

.hovertr > td.active:hover,
.hovertr > th.active:hover,
.hovertr.active:hover > td,
.hovertr:hover > .active,
.hovertr.active:hover > th {
  background-color: #e8e8e8;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.noborder {
  border: 0 !important;
}

/*Remove border on outside edges of the outside cells*/
.noborder td, .noborder th {
  border: 1px solid #ddd;
}
.noborder tr:first-child th {
  border-top: 0;
}
.noborder tr:last-child td {
  border-bottom: 0;
}
.noborder tr td:first-child,
.noborder tr th:first-child {
  border-left: 0;
}
.noborder tr td:last-child,
.noborder tr th:last-child {
  border-right: 0;
}
