<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Add Cards</h1>
    <p class="lead">Add new cards to your library.</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>Add a New Card:</h3>
      <form name="addCardForm" ng-submit="addCard()">
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" id="name" type="text" ng-model="card.name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input class="form-control" id="description" type="text" ng-model="card.description" placeholder="Description">
        </div>
        <div class="form-group">
          <label for="type">Type</label>
          <input class="form-control" id="type" type="text" ng-model="card.type" placeholder="Type">
        </div>
        <div class="form-group">
          <label for="subType">Sub Type</label>
          <input class="form-control" id="subType" type="text" ng-model="card.subType" placeholder="Sub Type">
        </div>
        <div class="form-group">
          <label for="flavor">Flavor Text</label>
          <input class="form-control" id="flavor" type="text" ng-model="card.flavor" placeholder="Flavor">
        </div>
        <div class="form-group">
          <label>Color</label><br />
          <label ng-repeat="color in ['blue', 'red', 'black', 'green', 'white']">
            <input type="checkbox" ng-checked="card.color.indexOf(color) > -1" ng-click="toggleSelection(color)">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-1x" ng-style="set_color(color)"></i>
              <i class="fa fa-circle-thin fa-stack-1x"></i>
            </span>
          </label>
        </div>
        <button type="button" class="btn btn-danger" ng-click="reset()">Reset</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
  </div>
</div>

<footer ng-include="'components/footer/footer.html'"></footer>
